SNOWFLAKE_ACCOUNT=organizacion-cuenta
SNOWFLAKE_USER=TU_USUARIO
SNOWFLAKE_PASSWORD=TU_CONTRASENA
SNOWFLAKE_BOOTSTRAP_ROLE=ACCOUNTADMIN
SNOWFLAKE_ROLE=TAXI_LAB_ROLE
SNOWFLAKE_WAREHOUSE=TAXI_LAB_WH
SNOWFLAKE_DATABASE=TAXI_LAB
SNOWFLAKE_BRONZE_SCHEMA=BRONZE
